*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

main{
    max-width: 1140px;
    margin: auto;
}
img{
    height: 100%;
    width: 100%;
}

/* Start nav section style */

.main_navbar{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    background-color: #fff;

}
.navbar_logo{
    display: flex;
    align-items: center;

}
.navbar_logo img {
    width: 61px;
    height: 32px;
    padding-right: 14px;
}
.navbar_logo h4 {
    font-size: 34px;
}

.navbar_logo span {
    color: #ff42a5;
    
}
.nav_menubar ul{
    display: flex;

}
.nav_menubar ul{
    list-style: none;

}

.nav_menubar ul li a{
    text-decoration: none;
    font-size: 17px;
    margin-left: 20px;
    color: #3C354F;
    display: inline-block;

}
.nav_menubar .fa-brands{
    color: red;
}
.nav_menubar .fa-tiktok{
    color: black;
}
a.nav_button {
    background: rgba(11, 2, 35, 0.10);
    padding: 12px;
    border-radius: 5px;
}

/* End nav section style */


/* start bannar section style */

.main_bannar{
    background-image: url('./img/Group\ 14.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}

.bannar_content h2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 77px;
   

}
.bannar_content h4 {
    font-size: 35px;
    margin-bottom: 13px;
}
.bannar_content p{
    margin-bottom: 15px;

}
.button_one {
    border: none;
    color: white;
    background: #FF42A5;
    padding: 13px 22px;
    font-size: 15px;
    border-radius: 31px;
}
.button_two {
    border: none;
    color: white;
    margin-left: 11px;
    background: #4EC5F7;
    padding: 13px 24px;
    border-radius: 28px;
    font-size: 15px;
}
/* End bannar section style */


/* start know more section style */

.main_gamer{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}
.game_man{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 20px;
   
}
.game_img{
    width: 50%;
}
.game_content {
    text-align: right;
    width: 40%;
}
.game_content h3 {
    font-size: 26px;
    margin-bottom: 13px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.game_content p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 13px;
}
.game_button {
    border: none;
    color: white;
    background: #FF42A5;
    padding: 13px 22px;
    font-size: 15px;
    border-radius: 31px;
    margin-bottom: 13px;
}
/* End know more section style */

/* start online section style */
.online_game {
    display: flex;
    justify-content: space-around;
    gap: 33px;
    padding: 40px 0px;
}
.online_content{
    text-align: center;
}
.online_content h3 {
    font-size: 40px;
    margin-bottom: 10px;
}
.online_content h4 {
    font-size: 11px;
}
.main_online{
    padding: 50px 0px ;
}
.online_content span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.hover_effect h3{
    color: #F948B2;
}
.hover_effect .fa-solid {
    color: white;
    font-size: 40px;
}



.online_img h4 {
    font-size: 13px;
    line-height: 17px;
}

.hover_effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000093;
    border-radius: 15px;
    display: none;
   
 
}
.img_card:hover .hover_effect{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2.5px solid #FF42A5;
    flex-direction: column;
}



.img_card {
    position: relative;
    height: 100%;
}
.img_card img{

}



/* End online section style */

/*   start download section style  */
.main_download {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 145px;
}
.download_img{
    height: 400px;
}
.tallking {
    width: 200px;
    height: 230px;
    position: relative;
    top: -173px;
    right: 100px;
}
.download_content h4 {
    font-size: 29px;
    text-align: right;
}
.download_content span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.download_content p {
    text-align: right;
    font-size: 16px;
    line-height: 22px;
}
/* End download section style */



/* start music section style */

.music_gamer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   justify-content: center;

}
.music_box{
    display: flex;
    align-items: center;
    gap: 11px;
    margin-bottom: 25px;
    padding: 14px 7px;
    margin-bottom: 25px;
    margin-right: 5px;
    text-align: center;
    border: 1px solid white;
 
}
.music_box:hover{
    border: 1px solid #F948B2;
    border-radius: 50px;
    color: #F948B2;
}

.music_photo img{
    width: 50px;
    height: 55px;
}


/* End music section style */


/* start footer section style */
.main_footer{
    background-color: #0B0223;
    padding: 50px;
    color: white;

}

.footer_image{
    display: flex;
    justify-content: center;

}
.footer_image img {
    width: 56px;
    height: 28px;
    margin-right: 18px;
    margin-bottom: 25px;
}

.list_item{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.icons{
    text-align: center;
}
.footer_item{
    display: flex;
    justify-content: center;
}
.footer_title{
    text-align: center;
}
.footer_image span{
    color: #F948B2;

}
.footer_image h4 {
    font-size: 30px;
    margin-top: -5px;
}
.list_item h4 {
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 18px;
}
.icons i {
    padding: 10px;
    font-size: 35px;
}
.footer_item{
    color:rgba(255, 255, 255, 0.60);
    font-size: 14px;
}
.footer_item h4 {
    margin-bottom: 11px;
    margin-left: 18px;
    font-weight: 500;
}
.footer_title{
    color:rgba(255, 255, 255, 0.60);
    font-size: 14px;
    margin-bottom: 11px;
    margin-left: 18px;
    font-weight: 500;

}


.icons .fa-facebook {
    color: rgb(83 135 238);
}
.icons .fa-youtube{
    color:red;
}
/* End footer section style */


/* start responsive for large mobile */

@media screen and (max-width:425px){
    .main_navbar{
        flex-direction: column;
     }
     .nav_menubar ul{
        flex-direction: column;
       align-items: center;
     }

     .nav_menubar ul li a{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left:0;
     }

     .main_bannar{
        flex-direction: column;
        align-items: center;
     }

     .game_man{
        flex-direction: column;
        align-items: center;
        padding: 10px;
     }

     .game_img{
        width: 100%;
     }

     .game_content{
        width: 100%;
        text-align: center;
     }

     .online_game{
        flex-direction: column;
        align-items: center;
     }

     .online_content h3{
        font-size:25px;
     }

     .main_download{
        flex-direction: column;
        align-items: center;
     }

     .download_content h4{
        text-align: center;
     }

     .download_content p{
        text-align: center;
        margin-bottom: 15px;
     }

     .download_img{
        height: auto;
        width: 65%;
     }

     .music_gamer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
     }

     .music_content h4{
        font-size: 10px;
     }

     .music_photo img{
        width: 25px;
        height: 27px;
    }

    .music_box{
       
        margin-bottom: 15px;
        padding: 0;
        
        
    }

}